@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
font-family: "Poppins", sans-serif;

}
video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}
h1{
  font-weight: bold;
  font-family: "Poppins",sans-serif;
  font: size 50vw;
}
h2{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3vw;
}
h3{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2vw;
}
h4{
  font-weight: bold;
}
h5{
  font-weight: bold;
}
p{
  font-family: "Poppins";
}
.List{
  list-style: circle;
  margin-top: 0;
  margin-left: 2vw;
}
.List2{
  margin-left: 2vw;
  list-style:decimal
}